/* cssrules */
/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Class */

.para {
  color: turquoise;
}
.imagesteve {
  background: url(https://cdn.osxdaily.com/wp-content/uploads/2009/09/steve-jobs-picture-dianne-walker-black-and-white-610x407.jpg);
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
}

.title1 {
  font-size: 200%;
  padding-top: 7%;
  -webkit-text-stroke: 0.25px black;
  color: whitesmoke;
}
.h1 {
  font-size: 1400%;
  color: hsl(0, 0%, 96%, 0.8);
  align-self: center;
  margin-top: 40%;
  width: 100%;
  -webkit-text-stroke: 0.25px black;
}

/* id */

#top {
  background: lightgray;
  color: rgba(32, 32, 32, 0.6);
  height: 10vh;
  width: 100%;
  font-weight: lighter;
  padding: 0 0 2vh 0;
}
/* tags */
body {
  background: whitesmoke;
  box-sizing: border-box;
}

p {
  padding: 2vh;
}
